@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Vendor Order Tracker!</h1>
<h3 class="mt-4"><a href='/vendors'>View Vendors</a></h3>
<h3><a href='/vendors/new'>Add a new Vendor</a></h3>

<div class="nav-bar text-center">
  <a href='/' class="nav-links">Return to Splash Page</a>
</div>