.nav-links  {
  margin: 1em 2em 1em;
}

.nav-bar  {
  display: flex;
}

.vendor-name  {
  font-size: 105%;
  color: #660006;
}

.label {
  display: inline-block;
  font-weight: bold;
  width: 7em;
  color: #D13;
}

body  {
  background-color: #DDD;
}

a {
  color: rgb(180, 84, 100);
}