@{
  Layout = "_Layout";
}

<h2>Add a vendor</h2>

<form action="/vendors" method="post">
  <div> 
    <label for="vendorName">Vendor Name:</label>
    <input id="vendorName" name="vendorName" type="text">
  </div>

  <div>
    <label for="vendorDescr">Description:</label>
    <input id="vendorDescr" name="vendorDescr" type="text">
  </div>

  <button type="submit" class="btn btn-success">Add Vendor</button>
</form>

<div class="nav-bar">
  <a href="/" class="nav-links">Back home</a>
  <a href="/vendors" class="nav-links">Back to vendors list.</a>
</div>