@{
  Layout = "_Layout";
}

<h2>Add a vendor</h2>

<form action="/vendors" method="post">
  <div> 
    <label for="vendorName" class="label">Vendor Name:</label>
    <input id="vendorName" name="vendorName" type="text">
  </div>

  <div>
    <label for="vendorDescr" class="label">Description:</label>
    <input id="vendorDescr" name="vendorDescr" type="text">
  </div>

  <button type="submit" class="btn btn-secondary">Add Vendor</button>
</form>

<div class="nav-bar">
  <a href="/" class="nav-link">Back home</a>
  <a href="/vendors" class="nav-link">Back to vendors list.</a>
</div>